
.home .bodyLogin, .bodyLogin {
    text-align: center;
}

.home .menuHome{
    display: inline-grid;
}

/* .visulizar .formulario form , */
.home .formularioHome form {
    display: none;
}

.home .formularioHome input[type=text]{
    border-radius:4px;

}